.mainHeader {
    padding: 18px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    @media only screen and (max-width: 1400px) {
        padding: 18px 20px;
    }
}

.mainHeader-logo {
    height: 50px;
    width: auto;

    @media only screen and (max-width: 991px) {
        height: 40px;
    }
}

.mainHeader-logo img {
    height: 100%;
    width: auto;
}

.mainHeader-actions {
    display: flex;
    align-items: center;
    gap: 37px;

    @media only screen and (max-width: 991px) {
        gap: 12px;
    }
}

.mainHeader__menuToggle {
    background: transparent;
    border: none;
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 991px) {
        height: 40px;
        width: 40px;
    }
}

.mainHeader__menuToggle img {
    height: 100%;
    width: 100%;
}

.mainHeader-search {
    display: flex;
    align-items: center;
    border: 1px solid #FF5640;
    height: 48px;
    padding: 12px 20px;
    border-radius: 24px;
    gap: 8px;

    @media only screen and (max-width: 991px) {
        height: 40px;
        width: 40px;
        padding: 8px;
        justify-content: center;
    }
}

.mainHeader-search input {
    width: 100%;

    @media only screen and (max-width: 991px) {
        position: absolute;
        top: 84px;
        left: 0;
        right: 0;
        background: #000;
        padding: 20px;
        display: none;
    }
}

.mainHeader-search.active input {
    display: block;
}

.mainHeader-search svg {
    height: 18px;
    width: 18px;
}

.mainHeader-search-Box {
    background: transparent;
    border: none;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.mainHeader-search-Box::placeholder {
    color: #ccc;
}

.menuSidenav {
    background: #000000;
    position: fixed;
    right: -100%;
    top: 0;
    bottom: 0;
    height: 100%;
    max-width: 500px;
    width: 100%;
    z-index: 111;

    &__header {
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        border-bottom: 1px solid #FF5640;

        @media only screen and (max-width: 991px) {
            padding: 12px 20px;
        }
    }

    &__menuToggle {
        height: 24px;
        width: 24px;
        background: transparent;
        border: none;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    & ::ng-deep .mat-drawer-inner-container {
        height: 100%;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 4px;
            height: 4px;
            border-radius: 10px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: transparent;
            border-radius: 10px;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 10px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }

    &.mat-drawer-opened {
        right: 0;
    }

    &__body {
        padding: 40px 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        mat-expansion-panel {
            border-radius: 8px;
            background: transparent;
            background: linear-gradient(49deg, rgb(132, 32, 19, 0) 0%, rgb(255, 86, 64, 0) 100%);
        }
        .mat-expansion-panel-header {
            padding: 14px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            height: 60px;

            mat-panel-title {
                font-size: 24px;
                line-height: 30px;
                font-weight: 600;
                color: #fff;
                margin: 0;
            }

            & ::ng-deep .mat-expansion-indicator svg {
                fill: #fff;
            }
        }

        mat-list-item {
            padding: 0;

            .mat-mdc-list-item {
                padding: 14px 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
                height: 60px;

                & ::ng-deep .mdc-list-item__primary-text {
                    font-size: 24px;
                    line-height: 30px;
                    font-weight: 600;
                    color: #fff;
                    margin: 0;
                }
            }
        }
        mat-expansion-panel.mat-expanded {
    background: #842013;
    background: linear-gradient(49deg, rgb(132, 32, 19) 0%, rgb(255, 86, 64) 100%);
        }
    }
}