<div *ngIf="hasHeroSection" class="breadcrumbHero"
  [style.background-image]="backgroundImage ? 'url(' + backgroundImage + ')' : 'none'">
  <div class="siteContainer">
    <div class="breadcrumbHero__inner">
      <nav class="breadcrumbNav" aria-label="breadcrumb">
        <ng-container *ngFor="let crumb of breadcrumbs; let last = last">
          <a *ngIf="crumb.link && !last; else lastCrumb" [routerLink]="crumb.link" class="breadcrumbNav__link">
            {{ crumb.label }}
          </a>
          <ng-template #lastCrumb>
            <span class="breadcrumbNav__current">{{ crumb.label }}</span>
          </ng-template>
          <mat-icon *ngIf="!last" class="breadcrumbNav__separator">chevron_right</mat-icon>
        </ng-container>
      </nav>
      <div class="breadcrumbHero__content">
        <div *ngIf="logo" class="breadcrumbHero__logo">
          <img [src]="logo" [alt]="title || 'Logo'" />
        </div>
        <div class="breadcrumbHero__text">
          <h1 *ngIf="title" class="breadcrumbHero__title">{{ title }}</h1>
          <p *ngIf="subtitle" class="breadcrumbHero__subtitle">{{ subtitle }}</p>
        </div>
      </div>
    </div>
  </div>
</div>