@use '@angular/material' as mat;


// Common CSS
@import 'swiper/swiper-bundle.css';



// Common CSS
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #192B37;
  overflow-x: hidden;
  transition: all 0.5s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

input,
select,
textarea,
input:focus-within,
select:focus-within,
textarea:focus-within {
  outline: none;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
}

input:hover, button:hover, textarea:hover, select:hover,
input:focus, button:focus, textarea:focus, select:focus,
input:focus-visible, button:focus-visible, textarea:focus-visible, select:focus-visible,
input:focus-within, button:focus-within, textarea:focus-within, select:focus-within {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.siteContainer {
  max-width: 1187px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

.ctaSection {
    background-image: url('../src/assets/images/CTA-img.png');
    background-size: cover;
    background-position: center;
    padding: 110px 0;
    position: relative;
    background-attachment: fixed;

    @media only screen and (max-width: 991px) {
        padding: 80px 0;
    }

    &::after {
        content: '';
        height: 100%;
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background: #000;
        opacity: 35%;
    }

    &__inner {
        text-align: center;
        position: relative;
        z-index: 1;

        p {
            font-size: 16px;
            color: #eee;
            line-height: 24px;
            max-width: 900px;
            width: 100%;
            margin: 22px auto 0;

            @media only screen and (max-width: 991px) {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    &__title {
        font-size: 62px;
        color: #FFFFFF;
        line-height: 75px;
        font-weight: 700;
        position: relative;
        font-family: "Open Sans", sans-serif;

        @media only screen and (max-width: 991px) {
            font-size: 50px;
            line-height: 60px;
        }

        @media only screen and (max-width: 767px) {
            font-size: 42px;
            line-height: 52px;
        }

        &::after {
            content: '';
            height: 4px;
            width: 90px;
            display: block;
            background: #842013;
            background: linear-gradient(49deg, rgba(132, 32, 19, 1) 0%, rgba(255, 86, 64, 1) 100%);
            border-radius: 5px;
            margin: 15px auto 0;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        flex-wrap: wrap;
        margin-top: 60px;

        @media only screen and (max-width: 991px) {
            margin-top: 40px;
        }
    }
}

.pageWrapper {
  overflow: hidden;
}

@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7))
    }
}

// BUTTON CSS
.primaryBtn {
  background: #842013;
  background: linear-gradient(49deg, rgba(132, 32, 19, 1) 0%, rgba(255, 86, 64, 1) 100%);
  border: none;
  padding: 12px 25px;
  border-radius: 55px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-align: center;
}

.linkBtn {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  font-weight: 700;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

// HEADING CSS
.centerheading {
  text-align: center;
  margin-bottom: 60px;

  @media only screen and (max-width: 991px) {
    margin-bottom: 40px;
  }

  &__title {
    font-size: 48px;
    color: #FFFFFF;
    line-height: 62px;
    font-weight: 700;
    position: relative;
    font-family: "Open Sans", sans-serif;

    @media only screen and (max-width: 991px) {
      font-size: 32px;
      line-height: 42px;
    }

    &::after {
      content: '';
      height: 4px;
      width: 90px;
      display: block;
      background: #842013;
      background: linear-gradient(49deg, rgba(132, 32, 19, 1) 0%, rgba(255, 86, 64, 1) 100%);
      border-radius: 5px;
      margin: 15px auto 0;
    }
  }

  p {
    font-size: 16px;
    color: #eee;
    line-height: 24px;
    margin-top: 22px;
    max-width: 900px;
    margin: 22px auto 0;

    @media only screen and (max-width: 991px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &.mb-0 {
    margin-bottom: 0;
  }

  &--small {
    .centerheading__title {
      font-size: 36px;
      line-height: 48px;

      @media only screen and (max-width: 991px) {
        font-size: 28px;
        line-height: 38px;
      }
    }
  }
}

.sectionHeading {
  &__title {
    font-size: 36px;
    color: #FFFFFF;
    line-height: 48px;
    font-weight: 700;
    position: relative;
    font-family: "Open Sans", sans-serif;

    @media only screen and (max-width: 991px) {
      font-size: 28px;
      line-height: 38px;
    }

    &::after {
      content: '';
      height: 4px;
      width: 90px;
      display: block;
      background: #842013;
      background: linear-gradient(49deg, rgba(132, 32, 19, 1) 0%, rgba(255, 86, 64, 1) 100%);
      border-radius: 5px;
      margin-top: 15px;
    }
  }

  p {
    font-size: 16px;
    color: #eee;
    line-height: 24px;
    margin-top: 22px;

    @media only screen and (max-width: 991px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.logoSlider {
    background: #1A3242;
    border-top: 1px solid #47555F;
    border-bottom: 1px solid #47555F;
    padding: 70px 0;
    overflow: hidden;
    position: relative;
    width: 100%;

    @media only screen and (max-width: 991px) {
        padding: 20px 0;
    }


    &__track {
        animation: scroll 40s linear infinite;
        display: flex;
        width: calc(250px * 14);
        gap: 150px;

        @media only screen and (max-width: 991px) {
            gap: 100px;
        }
    }

    .logoSlide {
        height: 180px;
        width: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        min-width: 180px;

        @media only screen and (max-width: 991px) {
            height: 120px;
            width: 120px;
            min-width: 120px;
        }

        img {
            object-fit: contain;
            height: 180px;
            width: 180px;

            @media only screen and (max-width: 991px) {
                height: 120px;
                width: 120px;
            }
        }

        &::after {
            content: '';
            height: 18px;
            width: 48px;
            position: absolute;
            background-image: url('../public/Vector.png');
            background-size: contain;
            background-repeat: no-repeat;
            right: -100px;

            @media only screen and (max-width: 991px) {
                height: 15px;
                width: 32px;
                right: -66px;
            }
        }
    }
}
